@mixin light-package {
    // font-family: "MavenPro-Light";
}

$main_green: #15c12c;
$second_green: #67f37a;
$main_blue: #03b6f2;
$main_red: #fd2d2d;

$main_font: "MavenPro-Light", "MavenPro-Regular", Arial, sans-serif;
$main_font_bold: "MavenPro-Bold", Arial, sans-serif;

$paragraph_font: "OpenSans-Regular", Arial, sans-serif;
$paragraph_font_light: "OpenSans-Light", Arial, sans-serif;

* {
  margin: 0;
}
body {
  font-family: $main_font;
  // @include light-package();
}
.hidden {
  display: none;
}
/* a:hover { color:#15C12C; } */
/* .fixed-header { position:fixed; } */

.bold-font {
  font-family: $main_font_bold;
}

.paragraph-font {
    font-family: $paragraph_font_light;
}

.linear-background {
  background: linear-gradient(
    180deg,
    rgba(29, 178, 228, 0.2) 2.38%,
    rgba(29, 178, 228, 0.086) 50.61%,
    rgba(29, 178, 228, 0.07) 87.59%,
    rgba(29, 178, 228, 0.114) 102.38%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.text-decoration-none-black {
  text-decoration: none;
  color: #000;
}

.text-decoration-none-white {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-one {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}

.small-ish-margin-right {
  margin-right: 12px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.tiny-margin-bottom {
  margin-bottom: 2px;
}

.small-ish-margin-top {
  margin-top: 12px;
}

.padding-top {
    padding-top:20px;
}

.small-padding-top {
  padding-top: 6px;
}
.small-padding-bottom {
  padding-bottom: 6px;
}
.small-margin-right {
  margin-right: 6px;
}
.small-margin-left {
  margin-left: 6px;
}
.small-margin-bottom {
  margin-bottom: 20px;
}
.very-small-margin-bottom {
  margin-bottom: 10px;
}
.margin-center {
  margin-left: auto;
  margin-right: auto;
}
.margin-top-bot-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.margin-left-auto {
  margin-left: auto;
}

.burger-menu {
  top: 25%;
}

.oval {
  height: 8px;
  width: 35px;
  border-radius: 16%;
  background-color: black;
}

.font-size-title {
  font-size: 36px;
}
.subheading {
  font-size: 28px;
  font-family: $main_font_bold;
}
.green-text {
  color: $main_green;
}
.red-text {
  color: $main_red;
}
.background-black {
  background-color: #000;
}
.background-blue {
  background-color: $main_blue;
}
.background-white {
  background-color: #fff;
  border-radius: 50%;
  padding: 14px;
}
.background-green {
  background-color: $second_green;
  border-radius: 50%;
  padding: 14px;
  outline: 2px black solid;
}
.background-red {
  background-color: $main_red;
  border-radius: 50%;
  padding: 14px;
  outline: 2px black solid;
}
.background-opaque {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 17px;
}
.background-opaque-solid {
  background-color: rgba(0, 0, 0, 0.05);
}
.background-opaque-strong {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 17px;
}

.just-white-background {
  background-color: rgb(174, 194, 255);
  border-radius: 6%;
}

.background-menu {
  background-color: #30c1ff44;
  border-radius: 6%;
  padding:10px 0;
}
.opacity-50 {
  opacity: 50%;
}
.header-margin {
  margin: 24px;
}

.neutralise-margin-left-right-base { margin-left:-24px; margin-right:-24px; }

.margin-left-right-base {
  margin-left: 24px;
  margin-right: 24px;
}

.light-padding {
  padding: 12px;
}

.background-padding { padding:4% 6%; }
.heating-card-green-padding {
    padding:16% 4%;
}

.padding {
    padding:10px;
}

.light-margin-left-right {
  margin-left: 12px;
  margin-right: 12px;
}

.margin-left { margin-left:20px; }
.margin-right { margin-right:20px; }

.margin-top {
  margin-top: 20px;
}
.small-margin-top {
  margin-top: 6px;
}
.very-small-margin-top {
  margin-top: 3px;
}

.green-circle-background {
  background-color: $second_green;
}
.red-circle-background {
  background-color: $main_red;
}
.circle {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  border: 4px black solid;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .img-wrapper-cam02 {   } */
.img-wrapper-cam02 img {
  height: 100%;
  width: 100%;
}

.img-wrapper-lock {
  max-height: 46px;
  max-width: 46px;
}
.img-wrapper-lock img {
  height: 100%;
  width: 100%;
}

.icon-img-wrapper {
  height: 28px;
  width: 28px;
}
.icon-img-wrapper img {
  height: 100%;
  width: 100%;
}

.footer-icons-wrapper {
  height: 58px;
  width: 58px;
}
.footer-icons-wrapper img {
  height: 100%;
  width: 100%;
}

.average-font-size {
  font-size: 22px;
}
.appliance-icon-img-wrapper {
  height: 50px;
  width: 50px;
}
.appliance-icon-img-wrapper img {
  height: 100%;
  width: 100%;
}

.border-radius-10px {
  border-radius: 10px;
}

.border-radius-17px {
  border-radius: 17px;
}

.background-for-toggle {
  width: 66px;
  height: 36px;
  background-color: #000;
  border-radius: 20px;
}
.white-part-for-toggle {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
}

.background-for-toggle-heating {
    width: 50px;
    height: 28px;
    background-color: #000;
    border-radius: 20px;
  }
  .white-part-for-toggle-heating {
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
  }
.smaller-margin-left { margin-left:4px; }
.smaller-margin-right { margin-right:4px; }


.left-arrow {
  height: 10px;
  width: 10px;
}
.right-arrow {
  height: 10px;
  width: 10px;
}
.left-arrow img {
  height: 100%;
  width: 100%;
  z-index: 1;
  bottom: 25%;
  right: 40%;
}
.right-arrow img {
  height: 100%;
  width: 100%;
  z-index: 1;
  bottom: 25%;
  left: 40%;
}

.bigger-font-size {
  font-size: 24px;
}

.first-link-margin {
    margin-top:10px;
    margin-bottom:10px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.heating-plus-background {
    background-color: #fff;
    border-radius: 10px;
}

.plus-font-size { font-size: 50px; }

.plus-wrapper { height:20px; width:20px; }
.plus-wrapper img { height:100%; width:100%; }

.nav-bar-style { width:100vw; }
.border-radius-0 { border-radius: 0% !important; }

@font-face {
  font-family: "MavenPro-Regular";
  src: url("./fonts/MavenPro-Regular.ttf");
}

@font-face {
  font-family: "MavenPro-Black";
  src: url("./fonts/MavenPro-Black.ttf");
}

@font-face {
  font-family: "MavenPro-Bold";
  src: url("./fonts/MavenPro-Bold.ttf");
}

@font-face {
  font-family: "MavenPro-Medium";
  src: url("./fonts/MavenPro-Medium.ttf");
}

@font-face {
  font-family: "MavenPro-Light";
  src: url("./fonts/MavenProLight-300.otf");
}




@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("./fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("./fonts/OpenSans-Light.ttf");
}
